section {
  #edit-button,
  #cancel-button {
    background: none;
    font-family: var(--font-one);
    font-size: var(--xsmall);
    color: var(--color-eight);
    border: none;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: var(--color-one);
    }
  }

  #buttons {
    width: fit-content;
    margin-left: auto;

    #save-button {
      background-color: var(--color-one);
      font-family: var(--font-one);
      font-size: var(--xsmall);
      color: var(--color-four);
      border: none;
      cursor: pointer;
      transition: all 0.5s;
      padding: 0.5em 1em;
      border-radius: var(--normal-radius);
      margin-right: 1em;

      &:hover {
        box-shadow: var(--normal-shadow);
      }
    }
  }
}
