<div class="container">
    <img src="assets/img/5.png" alt="" id="half-image">
    <form action="">
        <div class="inner-container">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="sub-container">
            <p id="heading">Password reset</p>
            <p id="sub">Your password has been succesfully reset.
                Clik below to log in magically.</p>
        </div>
        <div class="form">
            <button class="button">Continue</button>
            <p><button class="button-link" type="button" routerLink="../sign-in"><i class="fa-solid fa-arrow-left"></i> Back To Login</button></p>

        </div>
    </form>
</div>
