<div class="container">
    <img src="assets/img/4.png" alt="" id="half-image">
    <form action="">
        <div class="inner-container">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="sub-container">
            <p id="heading">Check Your Email</p>
            <p id="sub">We sent a password resent link to
                mahavadanya@gmail.com</p>
        </div>
        <div class="form">
            <button class="button">Open Email</button>
            <p id="link">Didn't Recieve The Email? <button class="button-link">Click To Resend</button></p>

        </div>
    </form>
</div>
