<section>
  <ng-container *ngIf="!editMode; else editContainer">
    <div id="profile-top">
      <div id="profile-photo-container">
        <div id="profile-photo">
          <img
         [src]="user?.photoURL ||  'assets/img/circle-user-solid.svg'"
            alt="user Photo"
          />
        </div>
      </div>
      <div>
        <h2>
          {{ user?.name || "N/A"
          }}<span id="access-badge">{{
            user?.access?.toUpperCase()
          }}</span>
        </h2>
        <button (click)="goToEditMode()" id="edit-button">
          <i class="fa-solid fa-pen-to-square"></i> Edit Profile
        </button>
      </div>
    </div>
    <div id="profile-details">
      <p class="detail">
        <span class="key">Email: </span>
        <span class="value"
          >{{ user?.email || "N/A" }}
          <span
            *ngIf="user?.emailVerified; else emailUnverified"
            id="email-verified"
            ><i class="fa-solid fa-circle-check"></i> Verified</span
          >
          <ng-template #emailUnverified
            ><span id="email-unverified"
              ><i class="fa-solid fa-circle-xmark"></i> Not Verified</span
            ></ng-template
          >
        </span>
      </p>
      <p class="detail">
        <span class="key">Phone: </span>
        <span class="value">{{ user?.phone || "N/A" }}</span>
      </p>
      <p class="detail">
        <span class="key">Date of Birth: </span>
        <span class="value">{{
          user?.dob?.toDate()?.toLocaleDateString("en-us", {
            year: "numeric",
            month: "long",
            day: "2-digit"
          }) || "N/A"
        }}</span>
      </p>
      <p class="detail">
        <span class="key">Address: </span>
        <span class="value">{{ user?.address || "N/A" }}</span>
      </p>
      <p class="detail">
        <span class="key">Account No.: </span>
        <span class="value">{{
          user?.accountNo || "N/A"
        }}</span>
      </p>
      <p class="detail">
        <span class="key">IFSC Code: </span>
        <span class="value">{{
          user?.ifscCode || "N/A"
        }}</span>
      </p>
      <p class="detail">
        <span class="key">Account Created On: </span>
        <span class="value">{{
          user?.created
            ?.toDate()
            ?.toLocaleDateString("en-us", {
              year: "numeric",
              month: "long",
              day: "2-digit"
            }) || "N/A"
        }}</span>
      </p>
    </div>
    <h2>Bookings</h2>
    <div
      *ngIf="bookings && bookings.length > 0; else noBookings"
      class="table-container"
    >
      <table>
        <thead>
          <tr>
            <th style="width: 10%">Booking No.</th>

            <th style="width: 10%">Date</th>
            <th style="width: 10%">Time Slot</th>
            <th style="width: 10%">Seat No.</th>
            <th style="width: 10%">Booked For</th>
            <th style="width: 10%">Paid Amount</th>
            <th style="width: 10%">Status</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking.bookingNo }}</td>
            <td>{{ booking.date.toDate().toLocaleDateString("pt-PT") }}</td>
            <td>{{ booking.timeSlot }}</td>
            <td>{{ booking.seatNo }}</td>
            <td>{{ booking.bookedFor }}</td>
            <td>{{ booking.paidAmount }}</td>
            <td>{{ booking.status }}</td>

            <td></td>
          </tr>
        </tbody>
      </table>
      <div>
        <mat-paginator
          [length]="bookings.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100, 500]"
          (page)="getUsers($event)"
          aria-label="Select page"
          #paginator
        >
        </mat-paginator>
      </div>
    </div>
    <ng-template #noBookings>
      <p id="no-bookings">Nikhil has not made any bookings yet.</p>
    </ng-template>
  </ng-container>
  <ng-template #editContainer>
    <form [formGroup]="editForm" (ngSubmit)="saveChanges()" id="profile-details">
      <p class="detail">
        <label for="photo-input" class="key">Change User Photo: </label>
        <input
          type="file"
          id="photo-input"
          class="admin-input value"
          #photoInput
          (change)="validateProfilePhoto()"
        />
      </p>
      <p class="detail">
        <label for="name-input" class="key">Name *: </label>
        <input
          type="text"
          id="name-input"
          class="admin-input value"
          formControlName="displayName"
        />
      </p>
      <p class="detail">
        <label for="phone-input" class="key">Phone: </label>
        <input
          type="tel"
          id="phone-input"
          class="admin-input value"
          formControlName="phoneNumber"
        />
      </p>

      <p class="detail">
        <label for="dob-input" class="key">Date of Birth: </label>
        <input
          type="date"
          id="dob-input"
          class="admin-input value"
          formControlName="dob"
        />
      </p>
      <p class="detail">
        <label for="address-input" class="key">Email: </label>
        <input
          type="text"
          id="address-input"
          class="admin-input value"
          formControlName="email"
        />
      </p>
      <p class="detail">
        <label for="address-input" class="key">Address: </label>
        <input
          type="text"
          id="address-input"
          class="admin-input value"
          formControlName="address"
        />
      </p>
      <p class="detail">
        <label for="account-no-input" class="key">Account No.: </label>
        <input
          type="text"
          id="account-no-input"
          class="admin-input value"
          formControlName="accountNo"
        />
      </p>
      <p class="detail">
        <label for="ifsc-code-input" class="key">IFSC Code: </label>
        <input
          type="text"
          id="ifsc-code-input"
          class="admin-input value"
          formControlName="ifscCode"
        />
      </p>
    </form>
    <div id="buttons">
      <button
        [disabled]="!editForm.valid"
        (click)="saveChanges()"
        id="save-button"
      >
        Save Changes
      </button>
      <button (click)="cancelEdit()" id="cancel-button">Cancel</button>
    </div>
  </ng-template>
</section>
