.secondary-button {
  width: fit-content;
  background: none;
  color: var(--color-one);
  font-family: var(--font-one);
  font-size: var(--msmall);
  border: none;
  margin-top: 0.5em;
  cursor: pointer;
  transition: all 0.4s;

  i {
    margin-right: 0.25em;
  }

  &:hover {
    color: var(--color-two);
  }
}

.top {
  h2 {
    font-family: var(--font-one);
    font-size: var(--medium);
    color: var(--color-ten);
    font-weight: 700;
    margin: 0;
  }
}

.feature {
  font-size: var(--small);
  color: var(--color-ten);
  font-family: var(--font-one);
  display: flex;
  align-items: baseline;

  i {
    width: 20px;
    text-align: center;

    &.fa-check {
      color: var(--color-success);
    }

    &.fa-xmark {
      color: var(--color-danger);
    }

    &.fa-trash {
      color: var(--color-one);
      cursor: pointer;
    }

    &:first-child {
      margin-right: 0.5em;
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }
}

.main-container {
  display: flex;
  justify-content: flex-start;
  margin: 2em auto;
  flex-wrap: wrap;
  gap: 40px;

  .sub-container {
    width: 28%;
    background: var(--color-twelve);
    border-radius: 10px;
    padding: 1em;
    margin: 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    h3 {
      text-align: center;
      font-family: var(--font-one);
      font-size: var(--medium);
      color: var(--color-ten);
      font-weight: 700;
      margin: 0;
    }

    .list {
      margin: 1em 0.5em 1.5em 0.5em;
      font-size: var(--msmall);
      font-family: var(--font-one);

      p {
        margin: 0 0 0.5em 0;
      }
    }

    .buttons {
      button {
        width: 50%;

        i {
          margin-right: 0.5em;
        }
      }
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}

.uk-modal-title {
  font-family: var(--font-one);
  font-size: var(--medium);
  color: var(--color-one);
  margin: 0;
  margin-bottom: 1em;
  padding-bottom: 0.75em;
  font-weight: 700;
  border-bottom: 3px solid var(--color-one);
}

.form-box {
  margin: 1.25em 0;

  label {
    font-family: var(--font-one);
    font-weight: 700;
    font-size: var(--small);
    color: var(--color-one);
  }

  input {
    width: 100%;
    outline: none;
    background-color: transparent;
    color: var(--color-ten);
    font-family: var(--font-one);
    font-size: var(--small);
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid var(--color-one);
  }

  .secondary-button {
    margin-top: 1em;
  }
}

#price-container {
  position: relative;

  #currency-symbol {
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
    font-size: var(--small);
    font-family: var(--font-one);
    color: var(--color-one);
  }

  input {
    padding-left: 1.5em;
  }
}

#submit-button {
  background-color: var(--color-one);
  color: var(--color-four);
  margin-top: 0.5em;
  border: none;
  width: 100%;
  padding: 0.5em;
  font-family: var(--font-one);
  font-size: var(--small);
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    box-shadow: var(--normal-shadow);
  }
}

.uk-modal-dialog {
  width: 500px;
}
