<div class="container">
    <img src="assets/img/2.png" alt="" id="half-image">
    <form action="">
        <div class="inner-container">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="sub-container">
            <p id="logo-heading">Mahavadnya</p>
            <p id="heading">Forgot Password?</p>
            <p id="sub">Don't worry, we'll send you reset instructions.</p>
        </div>
        <div class="form">
            <input type="email" placeholder="Enter Your Email">
            <button class="button" type="button" routerLink="../check-your-mail">Reset your password</button>
            <button class="button-link" type="button" routerLink="../sign-in"><i class="fa-solid fa-arrow-left"></i> Back To Login</button>

        </div>
    </form>
</div>