#delete-confirm-modal {
  text-align: center;

  h3 {
    color: var(--color-one);
    font-family: var(--font-one);
    font-size: var(--small);
    margin: 0 0 1em 0;
  }

  #buttons {
    display: flex;
    justify-content: center;

    button {
      width: 30%;
      margin: 0 0.25em;
      padding: 0.5em 1em;
      margin-top: 1em;
      background-color: var(--color-one);
      color: var(--color-four);
      font-family: var(--font-one);
      font-size: var(--xsmall);
      border-radius: 7px;
      border: none;
      cursor: pointer;
      transition: all 0.5s;

      &:hover,
      &:focus {
        box-shadow: var(--normal-shadow);
      }
    }
  }
}
