<div class="container">
    <img src="assets/img/4.png" alt="" id="half-image">
    <form action="">
        <div class="inner-container">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="sub-container">
            <p id="heading">Password reset</p>
            <p id="sub">Your new password must be diffrent to 
                previously used passwords.</p>
        </div>
        <div class="form">
            <label for="">Password</label>
            <input type="password" placeholder="">
            <p id="must">Must be at least 8 character.</p>
            <label for="">Confirm Password</label>
            <input type="password" placeholder="">
            <button class="button">Submit</button>
            <p id="back"><button class="button-link" type="button" routerLink="../sign-in"><i class="fa-solid fa-arrow-left"></i> Back To Login</button></p>

        </div>
    </form>
</div>

